.badge {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }
  
  .badge-requested {
    background-color: blue;
  }
  
  .badge-approved {
    background-color: green;
  }
  
  .badge-rejected {
    background-color: red;
  }
  