.cardbatch{
    width: 15rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    cursor: pointer;
}

.card-title{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grnbadge{
    background-color: #e7e7e7;
    padding: 10px 20px;
}

.label{
    margin-right: 10px;
}